.img-menu {
    transition: all 0.4s ease-in-out;
    width: 45px;
    height: 45px;
    box-shadow: inset 0px 0px 10px #0000001a;
    border-radius: 50%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    user-select: none;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;

    &:hover {
        border-color: #303030;
        border-width: 2px;
    }
}


.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 40px;
    width: 40px;
    border-style: none;
    // padding: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    background-color: rgb(241 73 2);
    padding-right: 40px;
    color: #292929;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 40px;
    height: 40px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: rgb(241 73 2);
    // background-color: transparent;
    pointer-events: painted;
}

// .btn-search:focus {
//     mat-icon {
//         color: rgb(241 73 2);
//     }
// }

.btn-search:focus~.input-search {
    width: 300px;
    // border-radius: 0px;
    // background-color: transparent;

    border-radius: 10px;
    background-color: whitesmoke;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 25px;
    background-color: #f7f7f7;
    // background-color: transparent;
    // border-bottom:1px solid rgba(255,255,255,.5);
    padding-left: 15px;
    border-bottom: 1px solid rgb(241 73 2);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    padding-right: 50px;
}

.profile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: 15px;
    gap: 8px;
    user-select: none;

    .info-user {
        p {
            font-weight: 600;
            font-size: 1.2rem;
            margin: 0;
        }

        a {
            font-size: 1rem;
        }
    }

    img {
        padding: 5px;
        width: 40px;
        height: 40px;
        border: 2px solid #d1d1d1;
        border-radius: 50%;
    }

    mat-icon {
        cursor: pointer;
    }
}