<!-- <splash-screen theme [duration]="1"></splash-screen> -->

<div class="layout-container layout-slim">
  <app-toolbar [hidden]="getLocationPage('/login') || getLocationPage('/page404') " />


  <!-- @if (loading) {
    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
  } -->
  <div class="layout-sidebar">
    <div class="button-rounded" id="dashboard" matTooltip="Dashboard" [routerLink]="'dashboard'">
      <mat-icon id="dashboard">equalizer</mat-icon>
    </div>

    <p-divider></p-divider>

    <div class="button-rounded" id="clients" matTooltip="Clientes" [routerLink]="'clients'">
      <mat-icon id="clients">groups</mat-icon>
    </div>

    <p-divider></p-divider>

    <div class="button-rounded" id="products" matTooltip="Produtos" [routerLink]="'products'">
      <mat-icon id="products">view_in_ar</mat-icon>
    </div>

    <p-divider></p-divider>

    <div class="button-rounded" id="products-categories" matTooltip="Categorias" [routerLink]="'products/categories'">
      <mat-icon id="products-categories">view_compact_alt</mat-icon>
    </div>

    <p-divider></p-divider>

    <div class="button-rounded" id="logs" matTooltip="Log's" [routerLink]="'logs'">
      <mat-icon id="logs">format_list_bulleted</mat-icon>
    </div>

    <p-divider></p-divider>

    <div class="button-rounded" id="support" matTooltip="Suporte" [routerLink]="'support'">
      <mat-icon id="support">support_agent</mat-icon>
    </div>

    <p-divider></p-divider>

    <div class="button-rounded" id="settings" matTooltip="Configurações" [routerLink]="'settings'">
      <mat-icon id="settings">settings</mat-icon>
    </div>

  </div>

  <div class="layout-content-wrapper">
    <div class="layout-content">
      <router-outlet />
    </div>
  </div>
</div>