<div class="d-flex align-items-center">
    <mat-icon>equalizer</mat-icon>
    <p style="font-size: 1.4rem; margin: 0; margin-left: 5px;"> Você está em <strong>Dashboard</strong></p>
</div>

<p-divider></p-divider>

<br>

<div class="grid">
    <div class="card-info">
        <div class="content-info">
            <div class="info">
                <mat-icon>person</mat-icon>
                <div class="description">
                    <p>Clientes</p>
                    <h3>142</h3>
                </div>
            </div>

            <img src="https://verona.primeng.org/assets/demo/images/dashboard/locations.svg" alt="">
        </div>
    </div>

    <div class="card-info">
        <div class="content-info">
            <div class="info">
                <mat-icon>view_in_ar</mat-icon>
                <div class="description">
                    <p>Produtos</p>
                    <h3>5800</h3>
                </div>
            </div>

            <img src="https://verona.primeng.org/assets/demo/images/dashboard/users.svg" alt="">
        </div>
    </div>

    <div class="card-info">
        <div class="content-info">
            <div class="info">
                <mat-icon>shopping_cart</mat-icon>
                <div class="description">
                    <p>Pedidos</p>
                    <h3>25</h3>
                </div>
            </div>

            <img src="https://verona.primeng.org/assets/demo/images/dashboard/rate.svg" alt="">
        </div>
    </div>

    <div class="card-info">
        <div class="content-info">
            <div class="info">
                <mat-icon>support_agent</mat-icon>
                <div class="description">
                    <p>Suporte</p>
                    <h3>5</h3>
                </div>
            </div>

            <img src="https://verona.primeng.org/assets/demo/images/dashboard/interactions.svg" alt="">
        </div>
    </div>

    
</div>