.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2rem;
  margin-left: -2rem;
  margin-top: -2rem;
}

.button-rounded {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
  background: #cacaca;
  box-shadow: inset 0px 0px 10px #0000001a;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;

  mat-icon {
    transition: all 0.4s ease-in-out;
    font-size: 20px;
    height: 20px;
    width: 20px;
    color: #9b9b9b;
  }

  &:hover {
    border-color: #ff8a30;
    background: #323232;

    mat-icon {
      color: #fff;
    }
  }
}


@media screen and (min-width: 992px) {
  .card-info {
    flex: 0 0 auto;
    padding: 2rem;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .card-info {
    flex: 0 0 auto;
    padding: 2rem;
    width: 25%;
  }
}